<a href="https://colab.research.google.com/github/Thitiphorn267-3/BSC_DPDM23/blob/main/midterm_bscdpdm23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เตรียมข้อมูลอุตุนิยมวิทยา (https://drive.google.com/drive/folders/1k6tJcTTv2bKmFz6A5oOWi-sAeTVIQpG4?usp=sharing)

ให้เตรียมข้อมูลลักษณะอากาศของแต่ละวัน (แก้ missing, noise, ฯลฯ ) และสร้างตารางเพื่อทำการทำนาย ปริมาณน้ำฝนสำหรับจังหวัดขอนแก่นของวันถัดไป (ปริมาณน้ำฝนขอนแก่นของวันที่ D+1) จากข้อมูลลักษณะอากาศในจังหวัดต่างๆ (ขอนแก่น,หนองคาย,นครพนม,เลย,สกลนคร) ของวันปัจจุบัน (อุณหภูมิตุ้มแห้งขอนแก่นของวันที่ D,...,ความเร็วลมสกลนครของวันที่ D)


ตัวอย่างตารางที่ต้องการ (Xi มีทั้งหมด 5จังหวัด * 8ลักษณะอากาศ = 40 columns และ Y อีก 1 columns)

![image.png]()



(AtP) Atmospheric pressure = ความกดอากาศ

(ReH) Relative Humidity = ความชื้นสัมพัทธ์

(Wind) Wind Speed = ความเร็วลม

(Cloud) Cloud Amount = จำนวนเมฆ  

(Rain) Rainfall = ปริมาณฝน

(dew_temp) Dew point temperature = อุณหภูมิจุดน้ำค้าง

(Low_temp) lowest temperature = อุณหภูมิต่ำสุด

(Db_tump) Dry-bulb temperature= อุณหภูมิตุ้มแห้ง  

Khon Kaen = ขอนแก่น

Nakhon Phanom = นครพนม

Loei = เลย

Sakon Nakhon = สกลนคร

Nong Khai = หนองคาย

In [1179]:
import pandas as pd
import numpy as np
import pandas as pd
import os

In [1180]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###เรียกไฟล์ + เปลี่ยนชื่อหัวตาราง

In [1220]:
new = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี','Unnamed: 2':'เดือน/ปี','Unnamed: 34':'ค่าเฉลี่ย'} #กำหนดตัวแปรรับค่าชื่อ

####อากาศตุ้มแห้ง

เรียกไฟล์

In [1182]:
Db_temp_NongKhai = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx",header=4)
Db_temp_SakonNakhon = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx",header=4)
Db_temp_Loei = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx",header=4)
Db_temp_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx",header=4)
Db_temp_KhonKaen = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx",header=4)

เปลี่ยนชื่อ column

In [1183]:
Db_temp_KhonKaen = Db_temp_KhonKaen.rename(columns=new)
Db_temp_NongKhai = Db_temp_NongKhai.rename(columns=new)
Db_temp_SakonNakhon = Db_temp_SakonNakhon.rename(columns=new)
Db_temp_Loei = Db_temp_Loei.rename(columns=new)
Db_temp_NakhonPhanom = Db_temp_NakhonPhanom.rename(columns=new)

####อุณหภูมิต่ำสุด

เรียกไฟล์

In [1184]:
Low_temp_KhonKaen = pd.read_excel ('/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',header=4)
Low_temp_NakhonPhanom = pd.read_excel ('/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',header=4)
Low_temp_Loei = pd.read_excel ('/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',header=4)
Low_temp_SakonNakhon = pd.read_excel ('/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',header=4)
Low_temp_NongKhai = pd.read_excel ('/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',header=4)

เปลี่ยนชื่อcolumn

In [1185]:
Low_temp_KhonKaen = Low_temp_KhonKaen.rename(columns=new)
Low_temp_NakhonPhanom = Low_temp_NakhonPhanom.rename(columns=new)
Low_temp_Loei = Low_temp_Loei.rename(columns=new)
Low_temp_SakonNakhon = Low_temp_SakonNakhon.rename(columns=new)
Low_temp_NongKhai = Low_temp_NongKhai.rename(columns=new)

####อุณหภูมิจุดน้ำค้าง

เรียกไฟล์

In [1223]:
dew_temp_KhonKaen = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx",header=4)
dew_temp_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx",header=4)
dew_temp_SakonNakhon = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx",header=4)
dew_temp_NongKhai = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx",header=4)
dew_temp_Loei = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx",header=4)

เปลี่ยนชื่อ column

In [1224]:
dew_temp_KhonKaen = dew_temp_KhonKaen.rename(columns=new)
dew_temp_NakhonPhanom = dew_temp_NakhonPhanom.rename(columns=new)
dew_temp_SakonNakhon = dew_temp_SakonNakhon.rename(columns=new)
dew_temp_NongKhai = dew_temp_NongKhai.rename(columns=new)
dew_temp_Loei = dew_temp_Loei.rename(columns=new)

####ความกดอากาศ

เรียกไฟล์

In [1188]:
AtP_KhonKaen = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx",header=4)
AtP_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx",header=4)
AtP_SakonNakhon = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx",header=4)
AtP_NongKhai = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx",header=4)
AtP_Loei = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx",header=4)

เปลี่ยนชื่อ column

In [1189]:
AtP_KhonKaen = AtP_KhonKaen.rename(columns=new)
AtP_NakhonPhanom = AtP_NakhonPhanom.rename(columns=new)
AtP_SakonNakhon = AtP_SakonNakhon.rename(columns=new)
AtP_NongKhai = AtP_NongKhai.rename(columns=new)
AtP_Loei = AtP_Loei.rename(columns=new)

####ความชื้นสัมพัทธ์

เรียกไฟล์

In [1190]:
ReH_KhonKaen = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx",header=4)
ReH_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx",header=4)
ReH_SakonNakhon = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx",header=4)
ReH_NongKhai = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx",header=4)
ReH_Loei = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx",header=4)

เปลี่ยนชื่อ column

In [1191]:
ReH_KhonKaen = ReH_KhonKaen.rename(columns=new)
ReH_NakhonPhanom = ReH_NakhonPhanom.rename(columns=new)
ReH_SakonNakhon = ReH_SakonNakhon.rename(columns=new)
ReH_NongKhai = ReH_NongKhai.rename(columns=new)
ReH_Loei = ReH_Loei.rename(columns=new)

####ความเร็วลม

เรียกไฟล์

In [1192]:
Wind_KhonKaen = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx",header=4)
Wind_NakhonPhanom  = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx",header=4)
Wind_SakonNakhon = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx",header=4)
Wind_NongKhai = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx",header=4)
Wind_Loei = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx",header=4)

เปลี่ยนชื่อ column

In [1193]:
Wind_KhonKaen = Wind_KhonKaen.rename(columns=new)
Wind_NakhonPhanom = Wind_NakhonPhanom.rename(columns=new)
Wind_SakonNakhon = Wind_SakonNakhon.rename(columns=new)
Wind_NongKhai = Wind_NongKhai.rename(columns=new)
Wind_Loei = Wind_Loei.rename(columns=new)

####จำนวนเมฆ

เรียกไฟล์

In [1194]:
Cloud_KhonKaen = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx",header=4)
Cloud_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx",header=4)
Cloud_SakonNakhon = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx",header=4)
Cloud_NongKhai = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx",header=4)
Cloud_Loei = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx",header=4)

เปลี่ยนชื่อ column

In [1195]:
Cloud_KhonKaen  = Cloud_KhonKaen.rename(columns=new)
Cloud_NakhonPhanom = Cloud_NakhonPhanom.rename(columns=new)
Cloud_SakonNakhon = Cloud_SakonNakhon.rename(columns=new)
Cloud_NongKhai = Cloud_NongKhai.rename(columns=new)
Cloud_Loei = Cloud_Loei.rename(columns=new)

####ปริมาณน้ำฝน

เรียกไฟล์

In [1196]:
Rain_KhonKaen = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx",header=4)
Rain_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx",header=4)
Rain_SakonNakhon = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx",header=4)
Rain_NongKhai = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx",header=4)
Rain_Loei = pd.read_excel("/content/drive/MyDrive/bsc_dpdm23_data/midterm/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx",header=4)

เปลี่ยนชื่อ column

In [1197]:
Rain_KhonKaen = Rain_KhonKaen.rename(columns=new)
Rain_NakhonPhanom = Rain_NakhonPhanom.rename(columns=new)
Rain_SakonNakhon = Rain_SakonNakhon.rename(columns=new)
Rain_NongKhai = Rain_NongKhai.rename(columns=new)
Rain_Loei = Rain_Loei.rename(columns=new)

#ตรวจสอบค่า missing และแก้ไขค่า missing

จังหวัดเลย column ไม่ครบ

In [ ]:
a = Db_temp_Loei.iloc[:,3:35].mean().tolist()
b = dew_temp_Loei.iloc[:,3:35].mean().tolist()

<ipython-input-1043-0e388dd5e16a>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  a = Db_temp_Loei.iloc[:,3:35].mean().tolist()
<ipython-input-1043-0e388dd5e16a>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  b = dew_temp_Loei.iloc[:,3:35].mean().tolist()

In [ ]:
R1 = Rain_Loei.iloc[50:,:3]
R2 = Rain_Loei.iloc[50:,:3]

In [ ]:
L=[]
for i in range(33):
  if i != 0:
    K = i
    L.append(i)

In [ ]:
R1.rename(columns={32:'ค่าเฉลี่ย'},inplace=True)
R2.rename(columns={32:'ค่าเฉลี่ย'},inplace=True)

In [ ]:
R2

     ที่             สถานี   เดือน/ปี
50  48    353201-เลย จ.เลย 2021-10-01
51  49    353201-เลย จ.เลย 2021-11-01
52  50    353201-เลย จ.เลย 2021-12-01
53   1    353201-เลย จ.เลย 2022-01-01
54   2    353201-เลย จ.เลย 2022-02-01

In [ ]:
dew_temp_Loei = pd.concat([dew_temp_Loei,R1])
Db_temp_Loei = pd.concat([Db_temp_Loei,R2])

##อากาศตุ้มแห้ง

### หนองคาย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Db_temp_NongKhai = Db_temp_NongKhai.replace('-',np.NaN)

In [ ]:
Db_temp_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

พบค่า missing ในวันที่ 29 30 31 อาจเกิดจากจำนวนวันแต่ละเดือนที่ไม่เท่ากัน

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Db_temp_NongKhai['ที่'])):Db_temp_NongKhai.iloc[i,:]=Db_temp_NongKhai.iloc[i,:].fillna(Db_temp_NongKhai.iloc[i]['ค่าเฉลี่ย'])

In [ ]:
Db_temp_NongKhai.isnull().any() #ตรวจ Missing ซ้ำอีกรอบ

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [ ]:
Db_temp_NongKhai.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,ค่าเฉลี่ย
0,1,352201-หนองคาย จ.หนองคาย,2011-10-01,26.7,25.5,27.0,26.8,24.9,24.3,25.4,...,27.7,27.9,28.0,27.8,27.8,27.4,27.2,27.0,27.2,27.0
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,26.3,26.4,26.3,26.5,27.1,27.4,28.3,...,26.8,23.9,23.9,25.2,25.6,26.0,25.7,25.8,25.9,25.9
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,25.6,23.6,21.4,21.9,23.2,24.7,24.9,...,22.5,20.9,17.0,17.4,19.8,22.8,23.9,24.6,23.5,22.1
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,23.4,23.9,25.1,24.3,20.7,22.8,22.8,...,24.6,23.0,23.2,21.8,24.3,25.8,25.9,24.9,22.4,23.8
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,24.1,24.6,21.7,23.9,26.1,27.7,27.4,...,27.2,27.4,27.4,28.3,25.8,25.5,26.9,25.6,25.6,25.6

###สกลนคร

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Db_temp_SakonNakhon = Db_temp_SakonNakhon.replace('-',np.NaN)

In [ ]:
Db_temp_SakonNakhon.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Db_temp_SakonNakhon['ที่'])):Db_temp_SakonNakhon.iloc[i,:]=Db_temp_SakonNakhon.iloc[i,:].fillna(Db_temp_SakonNakhon.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง

In [ ]:
Db_temp_SakonNakhon.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###เลย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Db_temp_Loei = Db_temp_Loei.replace('-',np.NaN)

In [ ]:
Db_temp_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1             True
2             True
3             True
4             True
5             True
6             True
7             True
8             True
9             True
10            True
11            True
12            True
13            True
14            True
15            True
16            True
17            True
18            True
19            True
20            True
21            True
22            True
23            True
24            True
25            True
26            True
27            True
28            True
29            True
30            True
31            True
ค่าเฉลี่ย     True
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Db_temp_Loei['ที่'])):Db_temp_Loei.iloc[i,:]=Db_temp_Loei.iloc[i,:].fillna(Db_temp_Loei.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง

In [ ]:
Db_temp_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1             True
2             True
3             True
4             True
5             True
6             True
7             True
8             True
9             True
10            True
11            True
12            True
13            True
14            True
15            True
16            True
17            True
18            True
19            True
20            True
21            True
22            True
23            True
24            True
25            True
26            True
27            True
28            True
29            True
30            True
31            True
ค่าเฉลี่ย     True
dtype: bool

###นครพนม

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Db_temp_NakhonPhanom = Db_temp_NakhonPhanom.replace('-',np.NaN)

In [ ]:
Db_temp_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Db_temp_NakhonPhanom['ที่'])):Db_temp_NakhonPhanom.iloc[i,:]=Db_temp_NakhonPhanom.iloc[i,:].fillna(Db_temp_NakhonPhanom.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง

In [ ]:
Db_temp_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###ขอนแก่น

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Db_temp_KhonKaen = Db_temp_KhonKaen.replace('-',np.NaN)

In [ ]:
Db_temp_KhonKaen.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Db_temp_KhonKaen['ที่'])):Db_temp_KhonKaen.iloc[i,:]=Db_temp_KhonKaen.iloc[i,:].fillna(Db_temp_KhonKaen.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง

In [ ]:
Db_temp_KhonKaen.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

##อุณหภูมิต่ำสุด

### หนองคาย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Low_temp_NongKhai = Low_temp_NongKhai.replace('-',np.NaN)

In [ ]:
Low_temp_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28            True
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Low_temp_NongKhai['ที่'])):Low_temp_NongKhai.iloc[i,:]=Low_temp_NongKhai.iloc[i,:].fillna(Low_temp_NongKhai.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง

In [ ]:
Low_temp_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###สกลนคร

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Low_temp_SakonNakhon = Low_temp_SakonNakhon.replace('-',np.NaN)

In [ ]:
Low_temp_SakonNakhon.isnull().any()

ที่           True
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21            True
22           False
23           False
24           False
25           False
26           False
27           False
28            True
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Low_temp_SakonNakhon['ที่'])):Low_temp_SakonNakhon.iloc[i,:]=Low_temp_SakonNakhon.iloc[i,:].fillna(Low_temp_SakonNakhon.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง

In [ ]:
Low_temp_SakonNakhon.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###เลย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Low_temp_Loei = Low_temp_Loei.replace('-',np.NaN)
Low_temp_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1             True
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12            True
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28            True
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Low_temp_Loei['ที่'])):Low_temp_Loei.iloc[i,:]=Low_temp_Loei.iloc[i,:].fillna(Low_temp_Loei.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Low_temp_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###นครพนม

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Low_temp_NakhonPhanom = Low_temp_NakhonPhanom.replace('-',np.NaN)
Low_temp_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5             True
6            False
7            False
8            False
9            False
10           False
11            True
12           False
13           False
14           False
15           False
16            True
17            True
18            True
19            True
20           False
21            True
22            True
23            True
24           False
25            True
26           False
27           False
28            True
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Low_temp_NakhonPhanom['ที่'])):Low_temp_NakhonPhanom.iloc[i,:]=Low_temp_NakhonPhanom.iloc[i,:].fillna(Low_temp_NakhonPhanom.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Low_temp_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###ขอนแก่น

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Low_temp_KhonKaen= Low_temp_KhonKaen.replace('-',np.NaN)
Low_temp_KhonKaen.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18            True
19            True
20            True
21            True
22            True
23            True
24            True
25           False
26           False
27            True
28            True
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Low_temp_KhonKaen['ที่'])):Low_temp_KhonKaen.iloc[i,:]=Low_temp_KhonKaen.iloc[i,:].fillna(Low_temp_KhonKaen.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Low_temp_KhonKaen.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

##อุณภูมิจุดน้ำค้าง

### หนองคาย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
dew_temp_NongKhai = dew_temp_NongKhai.replace('-',np.NaN)
dew_temp_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(dew_temp_NongKhai['ที่'])):dew_temp_NongKhai.iloc[i,:]=dew_temp_NongKhai.iloc[i,:].fillna(dew_temp_NongKhai.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
dew_temp_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

### สกลนคร

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
dew_temp_SakonNakhon = dew_temp_SakonNakhon.replace('-',np.NaN)
dew_temp_SakonNakhon.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(dew_temp_SakonNakhon['ที่'])):dew_temp_SakonNakhon.iloc[i,:]=dew_temp_SakonNakhon.iloc[i,:].fillna(dew_temp_SakonNakhon.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
dew_temp_SakonNakhon.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

### เลย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
dew_temp_Loei = dew_temp_Loei.replace('-',np.NaN)
dew_temp_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1             True
2             True
3             True
4             True
5             True
6             True
7             True
8             True
9             True
10            True
11            True
12            True
13            True
14            True
15            True
16            True
17            True
18            True
19            True
20            True
21            True
22            True
23            True
24            True
25            True
26            True
27            True
28            True
29            True
30            True
31            True
ค่าเฉลี่ย     True
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(dew_temp_Loei['ที่'])):dew_temp_Loei.iloc[i,:]=dew_temp_Loei.iloc[i,:].fillna(dew_temp_Loei.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
dew_temp_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1             True
2             True
3             True
4             True
5             True
6             True
7             True
8             True
9             True
10            True
11            True
12            True
13            True
14            True
15            True
16            True
17            True
18            True
19            True
20            True
21            True
22            True
23            True
24            True
25            True
26            True
27            True
28            True
29            True
30            True
31            True
ค่าเฉลี่ย     True
dtype: bool

### นครพนม

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
dew_temp_NakhonPhanom = dew_temp_NakhonPhanom.replace('-',np.NaN)
dew_temp_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(dew_temp_NakhonPhanom['ที่'])):dew_temp_NakhonPhanom.iloc[i,:]=dew_temp_NakhonPhanom.iloc[i,:].fillna(dew_temp_NakhonPhanom.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
dew_temp_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

### ขอนแก่น

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
dew_temp_KhonKaen  = dew_temp_KhonKaen.replace('-',np.NaN)
dew_temp_KhonKaen .isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(dew_temp_KhonKaen ['ที่'])):dew_temp_KhonKaen.iloc[i,:]=dew_temp_KhonKaen.iloc[i,:].fillna(dew_temp_KhonKaen.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
dew_temp_KhonKaen.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

##ความกดอากาศ

### หนองคาย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
AtP_NongKhai = AtP_NongKhai.replace('-',np.NaN)
AtP_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(AtP_NongKhai['ที่'])):AtP_NongKhai.iloc[i,:]=AtP_NongKhai.iloc[i,:].fillna(AtP_NongKhai.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
dew_temp_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###สกลนคร

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
AtP_SakonNakhon = AtP_SakonNakhon.replace('-',np.NaN)
AtP_SakonNakhon.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(AtP_SakonNakhon['ที่'])):AtP_SakonNakhon.iloc[i,:]=AtP_SakonNakhon.iloc[i,:].fillna(AtP_SakonNakhon.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
AtP_SakonNakhon.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###เลย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
AtP_Loei = AtP_Loei .replace('-',np.NaN)
AtP_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(AtP_Loei['ที่'])):AtP_Loei.iloc[i,:]=AtP_Loei.iloc[i,:].fillna(AtP_Loei.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
AtP_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###นครพนม

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
AtP_NakhonPhanom = AtP_NakhonPhanom.replace('-',np.NaN)
AtP_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(AtP_NakhonPhanom['ที่'])):AtP_NakhonPhanom.iloc[i,:]=AtP_NakhonPhanom.iloc[i,:].fillna(AtP_NakhonPhanom.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
AtP_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###ขอนแก่น

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
AtP_KhonKaen = AtP_KhonKaen.replace('-',np.NaN)
AtP_KhonKaen.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(AtP_KhonKaen['ที่'])):AtP_KhonKaen.iloc[i,:]=AtP_KhonKaen.iloc[i,:].fillna(AtP_KhonKaen.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
AtP_KhonKaen.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

##ความชื้นสัมพัทธ์

### หนองคาย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
ReH_NongKhai = ReH_NongKhai.replace('-',np.NaN)
ReH_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(ReH_NongKhai['ที่'])):ReH_NongKhai.iloc[i,:]=ReH_NongKhai.iloc[i,:].fillna(ReH_NongKhai.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
ReH_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###สกลนคร

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
ReH_SakonNakhon = ReH_SakonNakhon.replace('-',np.NaN)
ReH_SakonNakhon.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(ReH_SakonNakhon['ที่'])):ReH_SakonNakhon.iloc[i,:]=ReH_SakonNakhon.iloc[i,:].fillna(ReH_SakonNakhon.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
ReH_SakonNakhon.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###เลย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
ReH_Loei = ReH_Loei.replace('-',np.NaN)
ReH_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(ReH_Loei['ที่'])):ReH_Loei.iloc[i,:]=ReH_Loei.iloc[i,:].fillna(ReH_Loei.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
ReH_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###นครพนม

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
ReH_NakhonPhanom = ReH_NakhonPhanom.replace('-',np.NaN)
ReH_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(ReH_NakhonPhanom['ที่'])):ReH_NakhonPhanom.iloc[i,:]=ReH_NakhonPhanom.iloc[i,:].fillna(ReH_NakhonPhanom.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
ReH_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###ขอนแก่น

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
ReH_KhonKaen = ReH_KhonKaen.replace('-',np.NaN)
ReH_KhonKaen.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(ReH_KhonKaen['ที่'])):ReH_KhonKaen.iloc[i,:]=ReH_KhonKaen.iloc[i,:].fillna(ReH_KhonKaen.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
ReH_KhonKaen.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

##ความเร็วลม

### หนองคาย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Wind_NongKhai = Wind_NongKhai.replace('-',np.NaN)
Wind_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4             True
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Wind_NongKhai['ที่'])):Wind_NongKhai.iloc[i,:]=Wind_NongKhai.iloc[i,:].fillna(Wind_NongKhai.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Wind_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

### สกลนคร

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Wind_SakonNakhon = Wind_SakonNakhon.replace('-',np.NaN)
Wind_SakonNakhon.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4             True
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20            True
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Wind_SakonNakhon['ที่'])):Wind_SakonNakhon.iloc[i,:]=Wind_SakonNakhon.iloc[i,:].fillna(Wind_SakonNakhon.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Wind_SakonNakhon.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###เลย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Wind_Loei = Wind_Loei.replace('-',np.NaN)
Wind_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5             True
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16            True
17           False
18           False
19            True
20           False
21           False
22           False
23           False
24            True
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Wind_Loei['ที่'])):Wind_Loei.iloc[i,:]=Wind_Loei.iloc[i,:].fillna(Wind_Loei.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Wind_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

### นครพนม

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Wind_NakhonPhanom = Wind_NakhonPhanom.replace('-',np.NaN)
Wind_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4             True
5             True
6            False
7             True
8             True
9            False
10            True
11            True
12            True
13           False
14           False
15            True
16            True
17           False
18            True
19           False
20            True
21            True
22            True
23           False
24            True
25            True
26           False
27           False
28            True
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Wind_NakhonPhanom['ที่'])):Wind_NakhonPhanom.iloc[i,:]=Wind_NakhonPhanom.iloc[i,:].fillna(Wind_NakhonPhanom.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Wind_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###ขอนแก่น

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Wind_KhonKaen = Wind_KhonKaen.replace('-',np.NaN)
Wind_KhonKaen.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3             True
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21            True
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Wind_KhonKaen['ที่'])):Wind_KhonKaen.iloc[i,:]=Wind_KhonKaen.iloc[i,:].fillna(Wind_KhonKaen.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Wind_KhonKaen.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

##จำนวนเมฆ

###หนองคาย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Cloud_NongKhai = Cloud_NongKhai.replace('-',np.NaN)
Cloud_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1             True
2             True
3             True
4             True
5             True
6             True
7             True
8             True
9             True
10            True
11            True
12            True
13            True
14            True
15            True
16            True
17            True
18            True
19            True
20            True
21            True
22            True
23            True
24            True
25            True
26            True
27            True
28            True
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Cloud_NongKhai['ที่'])):Cloud_NongKhai.iloc[i,:]=Cloud_NongKhai.iloc[i,:].fillna(Cloud_NongKhai.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Cloud_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###สกลนคร

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Cloud_SakonNakhon = Cloud_SakonNakhon.replace('-',np.NaN)
Cloud_SakonNakhon.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1             True
2             True
3             True
4             True
5             True
6             True
7             True
8             True
9             True
10            True
11            True
12            True
13            True
14            True
15            True
16            True
17            True
18            True
19            True
20            True
21            True
22            True
23            True
24            True
25            True
26            True
27            True
28            True
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Cloud_SakonNakhon['ที่'])):Cloud_SakonNakhon.iloc[i,:]=Cloud_SakonNakhon.iloc[i,:].fillna(Cloud_SakonNakhon.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Cloud_SakonNakhon.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###เลย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Cloud_Loei = Cloud_Loei.replace('-',np.NaN)

In [ ]:
Cloud_Loei.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,8.0,10.0,10.0,9.0,8.0,10.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,2.0,1.0,2.0,1.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,1.0,3.0,1.0,3.0,3.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,1.0,1.0,3.0,6.0,6.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,8.0,5.0,10.0,7.0,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

แก้ Missing โดยการตัดทิ้ง

In [ ]:
Cloud_Loei = Cloud_Loei.drop(columns=['Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41' ,'Unnamed: 42','Unnamed: 43','Unnamed: 44'])

In [ ]:
Cloud_Loei.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,ค่าเฉลี่ย
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,8.0,10.0,10.0,9.0,8.0,10.0,10.0,...,1.0,1.0,2.0,4.0,2.0,3.0,3.0,1.0,2.0,5.387097
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,2.0,1.0,2.0,1.0,1.0,1.0,2.0,...,6.0,4.0,0.0,1.0,2.0,2.0,5.0,3.0,NaN,2.333333
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,1.0,3.0,1.0,3.0,3.0,2.0,3.0,...,3.0,1.0,1.0,0.0,0.0,1.0,1.0,4.0,1.0,2.354839
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,1.0,1.0,3.0,6.0,6.0,2.0,1.0,...,2.0,4.0,6.0,5.0,1.0,2.0,4.0,9.0,8.0,3.870968
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,8.0,5.0,10.0,7.0,1.0,0.0,NaN,...,NaN,NaN,NaN,0.0,1.0,3.0,NaN,3.0,NaN,2.809524

In [ ]:
Cloud_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1             True
2             True
3             True
4             True
5             True
6             True
7             True
8             True
9             True
10            True
11            True
12            True
13            True
14            True
15            True
16            True
17            True
18            True
19            True
20            True
21            True
22            True
23            True
24            True
25            True
26            True
27            True
28            True
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Cloud_Loei['ที่'])):Cloud_Loei.iloc[i,:]=Cloud_Loei.iloc[i,:].fillna(Cloud_Loei.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Cloud_Loei.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###นครพนม

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Cloud_NakhonPhanom = Cloud_NakhonPhanom.replace('-',np.NaN)
Cloud_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1             True
2             True
3             True
4             True
5             True
6             True
7             True
8             True
9             True
10            True
11           False
12           False
13            True
14            True
15            True
16           False
17           False
18            True
19            True
20            True
21            True
22            True
23            True
24            True
25            True
26           False
27            True
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Cloud_NakhonPhanom['ที่'])):Cloud_NakhonPhanom.iloc[i,:]=Cloud_NakhonPhanom.iloc[i,:].fillna(Cloud_NakhonPhanom.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Cloud_NakhonPhanom.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###ขอนแก่น

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Cloud_KhonKaen = Cloud_KhonKaen.replace('-',np.NaN)
Cloud_KhonKaen.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3             True
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21            True
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31            True
ค่าเฉลี่ย    False
dtype: bool

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Cloud_KhonKaen['ที่'])):Cloud_KhonKaen.iloc[i,:]=Cloud_KhonKaen.iloc[i,:].fillna(Cloud_KhonKaen.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Cloud_KhonKaen.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

##ปริมาณน้ำฝน

###หนองคาย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Rain_NongKhai = Rain_NongKhai.replace('T',0.1)

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Rain_NongKhai['ที่'])):Rain_NongKhai.iloc[i,:]=Rain_NongKhai.iloc[i,:].fillna(Rain_NongKhai.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง
Rain_NongKhai.isnull().any()

ที่          False
สถานี        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

หาค่าเฉลี่ยของปริมาณน้ำฝน

In [ ]:
Rain_NongKhai.drop(columns='ค่าเฉลี่ย',inplace=True)
Rain_NongKhai['ค่าเฉลี่ย']=Rain_NongKhai.mean(axis=1)

<ipython-input-1140-040f5f0da372>:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  Rain_NongKhai['ค่าเฉลี่ย']=Rain_NongKhai.mean(axis=1)
<ipython-input-1140-040f5f0da372>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Rain_NongKhai['ค่าเฉลี่ย']=Rain_NongKhai.mean(axis=1)

###สกลนคร

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Rain_SakonNakhon = Rain_SakonNakhon.replace('T',0.1)

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
for i in range(len(Rain_SakonNakhon['ที่'])):
  Rain_SakonNakhon.iloc[i,:]=Rain_SakonNakhon.iloc[i,:].fillna(Rain_SakonNakhon.iloc[i]['ค่าเฉลี่ย']) #แทนค่าว่างด้วยค่าเฉลี่ยของแต่ละแถวของมันเอง

หาค่าเฉลี่ยของปริมาณน้ำฝน

In [ ]:
Rain_SakonNakhon.drop(columns='ค่าเฉลี่ย',inplace=True)

In [ ]:
Rain_SakonNakhon['ค่าเฉลี่ย']=Rain_SakonNakhon.mean(axis=1)

<ipython-input-1144-019db92271e6>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  Rain_SakonNakhon['ค่าเฉลี่ย']=Rain_SakonNakhon.mean(axis=1)
<ipython-input-1144-019db92271e6>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Rain_SakonNakhon['ค่าเฉลี่ย']=Rain_SakonNakhon.mean(axis=1)

###เลย

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Rain_Loei = Rain_Loei.replace('T',0.1)

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
Rain_Loei.drop(columns='ค่าเฉลี่ย',inplace=True)
Rain_Loei['ค่าเฉลี่ย']=Rain_Loei.mean(axis=1)

<ipython-input-1146-9c41ffeba7dc>:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  Rain_Loei['ค่าเฉลี่ย']=Rain_Loei.mean(axis=1)
<ipython-input-1146-9c41ffeba7dc>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Rain_Loei['ค่าเฉลี่ย']=Rain_Loei.mean(axis=1)

In [ ]:
for i in range(len(Rain_Loei['ที่'])):
  Rain_Loei.iloc[i,:]=Rain_Loei.iloc[i,:].fillna(Rain_Loei.iloc[i]['ค่าเฉลี่ย'])

###นครพนม

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Rain_NakhonPhanom = Rain_NakhonPhanom.replace('T',0.1)

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
Rain_NakhonPhanom.drop(columns='ค่าเฉลี่ย',inplace=True)
Rain_NakhonPhanom['ค่าเฉลี่ย']=Rain_Loei.mean(axis=1)

<ipython-input-1149-ecd3bf8c3e9b>:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  Rain_NakhonPhanom['ค่าเฉลี่ย']=Rain_Loei.mean(axis=1)
<ipython-input-1149-ecd3bf8c3e9b>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Rain_NakhonPhanom['ค่าเฉลี่ย']=Rain_Loei.mean(axis=1)

In [ ]:
for i in range(len(Rain_NakhonPhanom['ที่'])):
  Rain_NakhonPhanom.iloc[i,:]=Rain_NakhonPhanom.iloc[i,:].fillna(Rain_NakhonPhanom.iloc[i]['ค่าเฉลี่ย'])

###ขอนแก่น

ตรวจสอบค่า Missing ในข้อมูล

In [ ]:
Rain_KhonKaen = Rain_KhonKaen.replace('T',0.1)

แก้ Missing โดยการแทนด้วยค่าเฉลี่ย

In [ ]:
Rain_KhonKaen.drop(columns='ค่าเฉลี่ย',inplace=True)
Rain_KhonKaen['ค่าเฉลี่ย']=Rain_KhonKaen.mean(axis=1)

<ipython-input-1152-da0a355bf2f9>:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  Rain_KhonKaen['ค่าเฉลี่ย']=Rain_KhonKaen.mean(axis=1)
<ipython-input-1152-da0a355bf2f9>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Rain_KhonKaen['ค่าเฉลี่ย']=Rain_KhonKaen.mean(axis=1)

In [ ]:
for i in range(len(Rain_KhonKaen['ที่'])):
  Rain_KhonKaen.iloc[i,:]=Rain_KhonKaen.iloc[i,:].fillna(Rain_KhonKaen.iloc[i]['ค่าเฉลี่ย'])

#เรียงคอลัมป์ใหม่

### อากาศตุ้มแห้ง

####หนองคาย

In [ ]:
Db_temp_NongKhai['Year'] = Db_temp_NongKhai['เดือน/ปี'].dt.year
Db_temp_NongKhai['Month'] = Db_temp_NongKhai['เดือน/ปี'].dt.month
Db_temp_NongKhai = Db_temp_NongKhai.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Db_temp_NongKhai = Db_temp_NongKhai.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิตุ้มแห้ง(เซลเซียส)หนองคาย','level_2':'Day'})
Db_temp_NongKhai['id']=["ss{}".format(i) for i in range(len(Db_temp_NongKhai['Month']))]

In [ ]:
Db_temp_NongKhai.head()

   Year  Month  Day  อุณหภูมิตุ้มแห้ง(เซลเซียส)หนองคาย   id
0  2011     10    1                               26.7  ss0
1  2011     10    2                               25.5  ss1
2  2011     10    3                               27.0  ss2
3  2011     10    4                               26.8  ss3
4  2011     10    5                               24.9  ss4

####สกลนคร

In [1198]:
Db_temp_SakonNakhon['Year'] = Db_temp_SakonNakhon['เดือน/ปี'].dt.year
Db_temp_SakonNakhon['Month'] = Db_temp_SakonNakhon['เดือน/ปี'].dt.month
Db_temp_SakonNakhon = Db_temp_SakonNakhon.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Db_temp_SakonNakhon = Db_temp_SakonNakhon.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิตุ้มแห้ง(เซลเซียส)สกลนคร','level_2':'Day'})
Db_temp_SakonNakhon['id']=["ss{}".format(i) for i in range(len(Db_temp_SakonNakhon['Month']))]

In [1199]:
Db_temp_SakonNakhon.head()

   Year  Month  Day อุณหภูมิตุ้มแห้ง(เซลเซียส)สกลนคร   id
0  2011     10    1                             26.9  ss0
1  2011     10    2                             25.9  ss1
2  2011     10    3                             25.7  ss2
3  2011     10    4                             25.2  ss3
4  2011     10    5                             23.6  ss4

####เลย

In [1200]:
Db_temp_Loei['Year'] = Db_temp_Loei['เดือน/ปี'].dt.year
Db_temp_Loei['Month'] = Db_temp_Loei['เดือน/ปี'].dt.month
Db_temp_Loei = Db_temp_Loei.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Db_temp_Loei = Db_temp_Loei.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิตุ้มแห้ง(เซลเซียส)เลย','level_2':'Day'})
Db_temp_Loei['id']=["ss{}".format(i) for i in range(len(Db_temp_Loei['Month']))]

In [1201]:
Db_temp_Loei.head()

   Year  Month  Day อุณหภูมิตุ้มแห้ง(เซลเซียส)เลย   id
0  2011     10    1                          26.3  ss0
1  2011     10    2                          25.1  ss1
2  2011     10    3                          24.4  ss2
3  2011     10    4                          25.2  ss3
4  2011     10    5                          25.6  ss4

####นครพนม

In [1202]:
Db_temp_NakhonPhanom['Year'] = Db_temp_NakhonPhanom['เดือน/ปี'].dt.year
Db_temp_NakhonPhanom['Month'] = Db_temp_NakhonPhanom['เดือน/ปี'].dt.month
Db_temp_NakhonPhanom = Db_temp_NakhonPhanom.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Db_temp_NakhonPhanom = Db_temp_NakhonPhanom.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิตุ้มแห้ง(เซลเซียส)นครพนม','level_2':'Day'})
Db_temp_NakhonPhanom['id']=["ss{}".format(i) for i in range(len(Db_temp_NakhonPhanom['Month']))]

In [1203]:
Db_temp_NakhonPhanom.head()

   Year  Month  Day อุณหภูมิตุ้มแห้ง(เซลเซียส)นครพนม   id
0  2011     10    1                             25.9  ss0
1  2011     10    2                             26.1  ss1
2  2011     10    3                             25.3  ss2
3  2011     10    4                             24.7  ss3
4  2011     10    5                             23.1  ss4

####ขอนแก่น

In [ ]:
Db_temp_KhonKaen['Year'] = Db_temp_KhonKaen['เดือน/ปี'].dt.year
Db_temp_KhonKaen['Month'] = Db_temp_KhonKaen['เดือน/ปี'].dt.month
Db_temp_KhonKaen = Db_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Db_temp_KhonKaen = Db_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิตุ้มแห้ง(เซลเซียส)ขอนแก่น','level_2':'Day'})
Db_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Db_temp_KhonKaen['Month']))]

In [ ]:
Db_temp_KhonKaen.head()

   Year  Month  Day  อุณหภูมิตุ้มแห้ง(เซลเซียส)ขอนแก่น   id
0  2011     10    1                               27.6  ss0
1  2011     10    2                               25.6  ss1
2  2011     10    3                               25.6  ss2
3  2011     10    4                               25.8  ss3
4  2011     10    5                               24.3  ss4

###อุณหภูมิต่ำที่สุด

####หนองคาย

In [1204]:
Low_temp_NongKhai['Year'] = Low_temp_NongKhai['เดือน/ปี'].dt.year
Low_temp_NongKhai['Month'] = Low_temp_NongKhai['เดือน/ปี'].dt.month
Low_temp_NongKhai = Low_temp_NongKhai.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_NongKhai = Low_temp_NongKhai.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)หนองคาย','level_2':'Day'})
Low_temp_NongKhai['id']=["ss{}".format(i) for i in range(len(Low_temp_NongKhai['Month']))]

In [1205]:
Low_temp_NongKhai.head()

   Year  Month  Day อุณหภูมิต่ำสุด(เซลเซียส)หนองคาย   id
0  2011     10    1                            25.3  ss0
1  2011     10    2                            23.3  ss1
2  2011     10    3                            23.6  ss2
3  2011     10    4                            23.8  ss3
4  2011     10    5                            23.3  ss4

####สกลนคร

In [1206]:
Low_temp_SakonNakhon['Year'] = Low_temp_SakonNakhon['เดือน/ปี'].dt.year
Low_temp_SakonNakhon['Month'] = Low_temp_SakonNakhon['เดือน/ปี'].dt.month
Low_temp_SakonNakhon = Low_temp_SakonNakhon.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_SakonNakhon = Low_temp_SakonNakhon.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)สกลนคร','level_2':'Day'})
Low_temp_SakonNakhon['id']=["ss{}".format(i) for i in range(len(Low_temp_SakonNakhon['Month']))]

In [1207]:
Low_temp_SakonNakhon.head()

   Year  Month  Day อุณหภูมิต่ำสุด(เซลเซียส)สกลนคร   id
0  2011     10    1                           24.5  ss0
1  2011     10    2                           23.1  ss1
2  2011     10    3                           22.6  ss2
3  2011     10    4                           21.8  ss3
4  2011     10    5                           22.5  ss4

####เลย

In [1208]:
Low_temp_Loei['Year'] = Low_temp_Loei['เดือน/ปี'].dt.year
Low_temp_Loei['Month'] = Low_temp_Loei['เดือน/ปี'].dt.month
Low_temp_Loei = Low_temp_Loei.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_Loei = Low_temp_Loei.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)เลย','level_2':'Day'})
Low_temp_Loei['id']=["ss{}".format(i) for i in range(len(Low_temp_Loei['Month']))]

In [1209]:
Low_temp_Loei.head()

   Year  Month  Day อุณหภูมิต่ำสุด(เซลเซียส)เลย   id
0  2011     10    1                        23.5  ss0
1  2011     10    2                        24.3  ss1
2  2011     10    3                        22.5  ss2
3  2011     10    4                        23.0  ss3
4  2011     10    5                        22.7  ss4

####นครพนม

In [1210]:
Low_temp_NakhonPhanom['Year'] = Low_temp_NakhonPhanom['เดือน/ปี'].dt.year
Low_temp_NakhonPhanom['Month'] = Low_temp_NakhonPhanom['เดือน/ปี'].dt.month
Low_temp_NakhonPhanom = Low_temp_NakhonPhanom.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_NakhonPhanom = Low_temp_NakhonPhanom.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)นครพนม','level_2':'Day'})
Low_temp_NakhonPhanom['id']=["ss{}".format(i) for i in range(len(Low_temp_NakhonPhanom['Month']))]

In [1211]:
Low_temp_NakhonPhanom.head()

   Year  Month  Day อุณหภูมิต่ำสุด(เซลเซียส)นครพนม   id
0  2011     10    1                           25.0  ss0
1  2011     10    2                           23.4  ss1
2  2011     10    3                           22.2  ss2
3  2011     10    4                           20.6  ss3
4  2011     10    5                           21.1  ss4

####ขอนแก่น

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

In [ ]:
Low_temp_KhonKaen.head()

   Year  Month  Day  อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น   id
0  2011     10    1                             24.8  ss0
1  2011     10    2                             23.0  ss1
2  2011     10    3                             22.1  ss2
3  2011     10    4                             22.8  ss3
4  2011     10    5                             23.1  ss4

###อุณหภูมิจุดน้ำค้าง

####หนองคาย

In [1212]:
dew_temp_NongKhai['Year'] = dew_temp_NongKhai['เดือน/ปี'].dt.year
dew_temp_NongKhai['Month'] = dew_temp_NongKhai['เดือน/ปี'].dt.month
dew_temp_NongKhai = dew_temp_NongKhai.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
dew_temp_NongKhai = dew_temp_NongKhai.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิจุดน้ำค้าง(เซลเซียส)หนองคาย','level_2':'Day'})
dew_temp_NongKhai['id']=["ss{}".format(i) for i in range(len(dew_temp_NongKhai['Month']))]

In [1213]:
dew_temp_NongKhai.head()

   Year  Month  Day อุณหภูมิจุดน้ำค้าง(เซลเซียส)หนองคาย   id
0  2011     10    1                                24.6  ss0
1  2011     10    2                                23.8  ss1
2  2011     10    3                                22.4  ss2
3  2011     10    4                                21.9  ss3
4  2011     10    5                                23.3  ss4

####สกลนคร

In [1214]:
dew_temp_SakonNakhon['Year'] = dew_temp_SakonNakhon['เดือน/ปี'].dt.year
dew_temp_SakonNakhon['Month'] = dew_temp_SakonNakhon['เดือน/ปี'].dt.month
dew_temp_SakonNakhon = dew_temp_SakonNakhon.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
dew_temp_SakonNakhon = dew_temp_SakonNakhon.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิจุดน้ำค้าง(เซลเซียส)สกลนคร','level_2':'Day'})
dew_temp_SakonNakhon['id']=["ss{}".format(i) for i in range(len(dew_temp_SakonNakhon['Month']))]

In [1215]:
dew_temp_SakonNakhon.head()

   Year  Month  Day อุณหภูมิจุดน้ำค้าง(เซลเซียส)สกลนคร   id
0  2011     10    1                               24.5  ss0
1  2011     10    2                               23.6  ss1
2  2011     10    3                               21.1  ss2
3  2011     10    4                               20.0  ss3
4  2011     10    5                               21.2  ss4

####เลย

In [1226]:
dew_temp_Loei['Year'] = dew_temp_Loei['เดือน/ปี'].dt.year
dew_temp_Loei['Month'] = dew_temp_Loei['เดือน/ปี'].dt.month
dew_temp_Loei = dew_temp_Loei.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
dew_temp_Loei = dew_temp_Loei.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิจุดน้ำค้าง(เซลเซียส)เลย','level_2':'Day'})
dew_temp_Loei['id']=["ss{}".format(i) for i in range(len(dew_temp_Loei['Month']))]

In [1227]:
dew_temp_Loei.head()

   Year  Month  Day อุณหภูมิจุดน้ำค้าง(เซลเซียส)เลย   id
0  2011     10    1                            23.6  ss0
1  2011     10    2                            23.5  ss1
2  2011     10    3                            21.9  ss2
3  2011     10    4                            21.9  ss3
4  2011     10    5                            21.8  ss4

####นครพนม

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####ขอนแก่น

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

###ความกดอากาศ

####หนองคาย

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####สกลนคร

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####เลย

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####นครพนม

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####ขอนแก่น

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

###ความชื้นสัมพัทธ์

####หนองคาย

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####สกลนคร

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####เลย

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####นครพนม

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####ขอนแก่น

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

###ความเร็วลม

####หนองคาย

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####สกลนคร

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####เลย

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####นครพนม

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####ขอนแก่น

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

###จำนวนเมฆ

####หนองคาย

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####สกลนคร

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####เลย

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####นครพนม

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####ขอนแก่น

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

###ปริมาณน้ำฝน

####หนองคาย

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####สกลนคร

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####เลย

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####นครพนม

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]

####ขอนแก่น

In [ ]:
Low_temp_KhonKaen['Year'] = Low_temp_KhonKaen['เดือน/ปี'].dt.year
Low_temp_KhonKaen['Month'] = Low_temp_KhonKaen['เดือน/ปี'].dt.month
Low_temp_KhonKaen = Low_temp_KhonKaen.drop(['เดือน/ปี','ค่าเฉลี่ย','สถานี'], axis =1)
Low_temp_KhonKaen = Low_temp_KhonKaen.set_index(["Year",'Month']).iloc[:,1:34].stack().reset_index().rename(columns={0:'อุณหภูมิต่ำสุด(เซลเซียส)ขอนแก่น','level_2':'Day'})
Low_temp_KhonKaen['id']=["ss{}".format(i) for i in range(len(Low_temp_KhonKaen['Month']))]